.item-details {
  min-height: 500px;

  &__image {
    width: 100%;
    height: 420px;
    overflow: hidden;
    background: white;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.191);
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 420px;
      object-fit: contain;
    }
  }

  &__block {
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 10px;
    span {
      display: inline-block;
      margin: 10px 10px 10px 10px;
    }
  }

  &__bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.37);
    padding: 10px;
  }

  &__price {
    font-size: 24px;
    font-weight: bold;
  }

  // .btn-add-to-cart {
  //   margin: 0;
  // }
}

.desc-title {
  font-weight: bold;
  display: block;
  padding: 5px;
  background: rgb(216, 225, 236);
}

@media only screen and (max-width: 992px) {
  .item-details {
    &__price {
      font-size: 18px;
    }
    .btn-add-to-cart {
      margin: 0;
    }
  }
}
