.sort {
  position: relative;
  font-size: 14px;
  width: 220px;
  margin-left: auto;
  right: 20px;
  display: flex;
  height: 40px;
  z-index: 999;
  &__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    b {
      margin-right: 8px;
    }
    span {
      color: blue;
      border-bottom: 1px solid blue;
      cursor: pointer;
    }
  }

  &__popup {
    transition: 0.3s;
    position: absolute;
    right: 10px;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 0 0;
    width: 160px;
    ul {
      overflow: hidden;
      margin-bottom: 0;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(30, 146, 254, 0.05);
        }

        &.active {
          font-weight: bold;
          color: blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .sort {
    border-radius: 10px;
    margin-right: auto;
    background: rgba(160, 169, 199, 0.329);
    width: 250px;
    text-align: center;
    right: 0px;
    &__label {
      margin: auto;
    }
  }
}
