.users-list {
  display: flex;
  background: grey;
  margin: 10px;
  padding: 20px;
  color: white;
  justify-content: space-between;
}

.user-list-item {
  min-width: 100px;
  outline: 1px solid red;
}
