.shop-item {
  width: 245px;
  padding: 5px;
  margin: 0px 8px 8px 8px;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  min-height: 210px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba(128, 128, 128, 0.192);
  position: relative;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.274);
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
    cursor: default;
    min-height: 50px;

    a {
      color: rgb(74, 126, 221);
    }
    a:hover {
      text-decoration: none;
    }
  }

  &__info {
    margin: 10px;
  }

  img {
    width: 245px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__bottom {
    background: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 10px;
  }

  &__price {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: default;
    font-weight: bold;
    text-align: left;
  }
}

.btn-add-to-cart {
  border: none;
  background: rgb(171, 241, 255);
  background: linear-gradient(
    22deg,
    rgba(171, 241, 255, 1) 0%,
    rgba(70, 89, 231, 1) 100%,
    rgba(121, 186, 183, 0.8267682072829132) 100%
  );
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  padding-top: 4px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  height: 35px;
  display: flex;
  margin-left: auto;
  min-width: 95px;
  span {
    display: inline-block;
    border-radius: 50%;
    min-width: 25px;
    padding-bottom: 1px;
    text-align: center;
    font-weight: bold;
    background: rgb(216, 231, 255);
    position: relative;
    top: 1px;
    color: rgb(74, 126, 221);
  }
  &:hover {
    box-shadow: 0 0 8px rgba(21, 13, 100, 0.5);
  }
}

@media only screen and (max-width: 992px) {
  .btn-add-to-cart {
    margin: auto;
  }
  .shop-item {
    width: 220px;
    margin: 5px;
    img {
      width: 220px;
      height: 200px;
    }
    &__price {
      justify-content: center;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .shop-item {
    width: 180px;
    margin: 5px;
    img {
      width: 180px;
      height: 180px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .shop-item {
    width: 45%;
    margin: 5px;
    img {
      width: 100%;
      height: 120px;
    }
    &__price {
      font-size: 12px;
    }
    &__title {
      font-size: 14px;
    }
    &__bottom {
      padding: 5px;
    }
  }

  .btn-add-to-cart {
    font-size: 12px;
    height: 25px;
    min-width: 95px;
    span {
      min-width: 20px;
    }
  }
}
