.cart-bottom__buy-btn {
  padding: 10px;
  background: rgb(63, 136, 231);
  color: white;
  border-radius: 10px;
  width: 93px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.801);
  }
  &:active {
    box-shadow: 0px 0px 4px rgba(92, 92, 92, 0.801);
  }
}
