.mobile-menu {
  position: fixed;
  z-index: 3;
  width: 60vw;
  height: 100vh;
  margin: 0;
  left: -60vw;
  transition: 0.1s;
  background: linear-gradient(
    22deg,
    rgba(171, 241, 255, 1) 0%,
    rgba(70, 89, 231, 1) 100%,
    rgba(121, 186, 183, 0.8267682072829132) 100%
  );
  top: 0;
  // left: -40vw;
  li a {
    display: block;
    color: white;
    padding-left: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    margin: 0;
    min-height: 30px;
    width: 90%;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  .logo-wrapper {
    background: rgba(0, 0, 0, 0.404);
    position: relative;
    top: -5px;
    display: block;
    text-align: center;
    margin-top: 5px;
  }
}

.show-menu {
  left: 0vw;
}

.bg-mobile-menu {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0.3;
}

.mobile-btn-menu {
  display: none;
  width: 35px;
  cursor: pointer;
  span {
    display: block;
    height: 7px;
    width: 30px;
    background: rgb(23, 67, 161);
    margin: 3px;
    border-radius: 3px;
    transition: 0.2s;
  }
  &:hover {
    span {
      background: rgb(84, 59, 223);
    }
  }
}

@media only screen and (max-width: 992px) {
  .mobile-btn-menu {
    display: block;
  }
}
