.addBtnCategories {
  position: relative;
  top: -3px;
  width: 100%;
  font-size: 20px;
}

.admin-list-check {
  font-size: 20px;
  position: relative;
  top: -2px;
}

.edit-input {
  width: 50% !important;
  margin-right: 10px;
}
