.shop-categories {
  ul {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  &__active {
    background: rgb(87, 132, 216);
    color: white;
  }

  li {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(87, 132, 216);
    border-radius: 10px;
    margin: 10px 5px 0px 5px;
    text-align: center;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: rgb(134, 174, 250);
      box-shadow: 0px 0px 7px rgb(69, 108, 199);
      color: white;
    }
  }
}

@media only screen and (max-width: 992px) {
  .shop-categories {
    ul {
      font-size: 14px;
      justify-content: center;
    }
  }
}
