.restore-password {
  display: block;
  width: 320px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  &:hover {
    color: rgb(55, 165, 150);
  }
}

.reset-form-label {
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}
